<!Doctype html>
<html>
 <head>
  <meta name="viewport" content="with=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 </head> 
 <body>
    <section class="header">
      <nav>
        <a href="index.html"><img src=""></a>
        <div class="nav-links" id="navlinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/api/v1.0/Covid_Facts">COVID Facts</a></li>
            <li><a href="/api/v1.0/covid_bar"> Vaccines Chart</a></li>
            <li><a href="">COVID Vaccine Map</a></li>
            <li><a href="">COVID Sewer Testing</a></li>
          </ul>        
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
<!--Covid Facts section-->
<section class="COVID_Facts">
    <h1>COVID Facts</h1>
    <br>
    <p>The first official case of COVID-19 in the United States was on January 20, 2020 in the state of Washington. There
      were earlier cases in October of 2019, that were diagnosed after the fact. These cases were not included in the
      official count because the cases were not citizens of the USA. The Emergency Operations Center (EOC) was activated
      on January 18, 2023. The first case in a foreign land will never be formally declared.
      <br>
      A national emergency declaration was made in March of 2020. The emergency use authorization was set to conclude on
      May 11, 2023 but was extended because of continued high COVID case levels. The next conclusion date was set to take
      place on October 1, 2023. The EUA is still in effect for many agencies.
    </p>
  
    <div class="row">
      <div class="COVID-col">
        <h2>Statistics</h2>
        <p> September of 2023 saw an overall decline in positive tests, emergency department visits, and hospitalizations.
          <br>
          There were some increases in some areas mostly in the Western United States. Montana, Idaho, Nevada, and South
          Dakota had the largest increases.
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>        
        </p>
      </div>
    </div>
  </section>
  
  